<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - TrackViaWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Glance - TrackViaWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Notification - TrackViaWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TrackViaWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF9FB0641B2A4D5800AD1164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9FB0701B2A4D5800AD1164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE083ED1A86A9B100AC9631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE084041A86A9B100AC9631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
